In [1]:
import pandas as pd
import duckdb

In [4]:
df = pd.DataFrame({
    "x": [bytes(123), bytes(456), bytes(789)],
    "y": ["a", "b", "c"]
})
df

                                                   x  y
0  b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...  a
1  b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...  b
2  b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...  c

In [16]:
df_2 = duckdb.sql("""
    select x, y
    from df
    where y in ('a', 'b')
""")
df_2.df()

                                                   x  y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  a
1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  b

In [20]:
df_2.arrow().to_pandas()

                                                   x  y
0  b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...  a
1  b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...  b

In [15]:
df_2.map(str)

                                                   x  y
0  bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x...  a
1  bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x...  b