In [4]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from cmf.locations import DATA_SUBDIR
from cmf.models import utils as mu
from cmf.data import utils as du
import cmf

import glob
from os import path

import mlflow
import cloudpickle
import duckdb

In [23]:
import duckdb

from cmf.data import utils as du
from cmf.config import tables, stopwords
from cmf.features.clean_complex import clean_comp_names

In [24]:
companieshouse_raw = du.query(f"""
        select
            id::text as unique_id,
            company_name,
            postcode
        from
            {tables['"companieshouse"."companies"']["dim"]};
    """)

In [25]:
companieshouse_clean = clean_comp_names(
    companieshouse_raw,
    primary_col = 'company_name',
    secondary_col = None,
    stopwords = stopwords
)

In [26]:
companieshouse_clean.head(5)

,company_name_arr,unique_id,company_name,postcode,stopwords,name_unusual_tokens,names_tokens_stopwords,name_unusual_tokens_first5,name_unusual_tokens_last5
0,"[a, r, motors, limited]",12586403,A&R MOTORS LIMITED,NW10 2QU,"[limited, uk, company, international, group, o...",a motors r,limited,a mot,ors r
1,"[a, r, munteanu, limited]",14119280,A&R MUNTEANU LTD,E6 3LA,"[limited, uk, company, international, group, o...",a munteanu r,limited,a mun,anu r
2,"[a, r, nielsen, limited]",10238259,A&R NIELSEN LIMITED,EN5 5LG,"[limited, uk, company, international, group, o...",a nielsen r,limited,a nie,sen r
3,"[a, r, online, education, limited]",12722020,A&R ONLINE EDUCATION LTD,IG1 3FA,"[limited, uk, company, international, group, o...",a education online r,limited,a edu,ine r
4,"[a, r, painting, services, limited]",08441975,A&R PAINTING SERVICES LTD,CH64 5SJ,"[limited, uk, company, international, group, o...",a painting r services,limited,a pai,vices

In [4]:
cloudpickle.register_pickle_by_value(src)

In [ ]:
xcloudpickle.dumps(src.)

In [8]:
con = du.get_duckdb_connection()

In [28]:
con.query("create table x(i integer);")

In [16]:
del con

In [30]:
du.DEFAULT_DUCKDB_PATH.unlink()
# con = du.get_duckdb_connection(path = duckdb_dir.as_posix())

In [9]:
con.query("show tables;")

┌───────────────────────────────┐
│             name              │
│            varchar            │
├───────────────────────────────┤
│ companieshouse_companies      │
│ dit_data_hub__companies       │
│ dit_export_wins__wins_dataset │
│ hmrc_trade__exporters         │
│ table_alias_lookup            │
│ unique_id_lookup              │
└───────────────────────────────┘

In [10]:
con.query("select * from table_alias_lookup limit 5;")

┌───────┬───────────────────────────────┐
│  id   │          table_name           │
│ int32 │            varchar            │
├───────┼───────────────────────────────┤
│     1 │ hmrc_trade__exporters         │
│     2 │ companieshouse_companies      │
│     3 │ dit_data_hub__companies       │
│     4 │ dit_export_wins__wins_dataset │
└───────┴───────────────────────────────┘

In [11]:
con.query("select * from unique_id_lookup limit 5;")

┌───────┬──────────────────────────────────────┐
│  id   │              unique_id               │
│ int32 │               varchar                │
├───────┼──────────────────────────────────────┤
│   568 │ 8eeb4338-8301-40c4-a69e-d1e19bf781d8 │
│   569 │ 3a5317b3-7fb0-4982-8252-f0f784b2c5d6 │
│   570 │ 80e9df92-e094-4822-90db-1b906338442f │
│   571 │ 8100372b-d67f-4b3d-8aa7-1cabaf4cc0e8 │
│   572 │ 068cb050-92d0-4764-896b-b8b4ab65d692 │
└───────┴──────────────────────────────────────┘

In [14]:
con.query("select unique_id, comp_num_clean from companieshouse_companies limit 5;")

┌───────────┬────────────────┐
│ unique_id │ comp_num_clean │
│   int32   │    varchar     │
├───────────┼────────────────┤
│    333645 │ 9429966        │
│    333647 │ 10247816       │
│    333649 │ 12976187       │
│    333651 │ 8236358        │
│    333653 │ 6467209        │
└───────────┴────────────────┘

In [15]:
con.query("select count(*) from companieshouse_companies;")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       100000 │
└──────────────┘

In [ ]:
con = du.get_duckdb_connection(path = duckdb_dir.as_posix())

if overwrite:
    Path(duckdb_dir).unlink()
    con = du.get_duckdb_connection(path = duckdb_dir.as_posix())

In [32]:
x = du.build_alias_path_dict('company-matching__06-26-23_11-40-51')

In [ ]:
for df in x.keys()
    df

In [34]:
duckdb.sql(f"select * from {x.keys()} as list")

CatalogException: Catalog Error: Table Function with name dict_keys does not exist!
Did you mean "duckdb_keywords"?