In [2]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
from cmf.models import utils as mu
from sklearn.datasets import load_iris

import mlflow
mlflow.__version__

import pandas as pd 
pd.__version__

'1.30.0'

'1.3.5'

In [7]:
mlflow.end_run(run_name="ml2.4_test")

TypeError: end_run() got an unexpected keyword argument 'run_name'

In [6]:
mlflow.set_experiment("Default")
mlflow.start_run(run_name="ml2.4_test", description="Testing ML Flow 2.4")
mlflow.log_text("Foo bar")
mlflow.log_metric("metric_1", 1)
mlflow.log_param("my", 'param')
mlflow.end_run()

<Experiment: artifact_location='mlflow-artifacts:/0', creation_time=1667812210812, experiment_id='0', last_update_time=1667812210812, lifecycle_stage='active', name='Default', tags={'mlflow.note.content': 'A place where we can dump tests'}>

Exception: Run with UUID 6022453812504d7ba86b5f1a63ff71a8 is already active. To start a new run, first end the current run with mlflow.end_run(). To start a nested run, call start_run with nested=True

In [5]:
model = mlflow.artifacts.load_text("mlflow-artifacts:/0/18cde7eb6d6e42dfb7f4278f491e4ba2/artifacts/model/companies_matching_model.json")
model[:100]

'{\n    "link_type": "link_and_dedupe",\n    "retain_matching_columns": true,\n    "retain_intermediate_'

In [26]:
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [25]:
dataset: PandasDataset = mlflow.data.from_pandas(iris_df)
dataset.df.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2