In [3]:
from cmf.clean import cleaning_function
from cmf.clean import steps
from cmf.data import utils as du

df = du.generate_dummy_df()

df

  irrational  rounded
0         pi     3.14
1          e     2.72
2        phi     1.62

In [9]:
def to_upper(column: str) -> str:
    """
    All characters to uppercase
    """
    return f"upper({column})"

def to_lower(column: str) -> str:
    """
    All characters to lowercase
    """
    return f"lower({column})"

In [15]:
my_func = cleaning_function(to_upper, to_lower)

my_func(df, column='irrational')

  irrational  rounded
0         pi     3.14
1          e     2.72
2        phi     1.62